.Stories {
  display: flex;
  flex-direction: column;
  background-color: #f6f6ef;
}
.Story {
  margin: 0.5rem 1rem;
  display: flex;
}
.Number {
  color: #9a9a9a;
  margin-right: 1rem;
}
.StoryData {
  display: flex;
  flex-direction: column;
}
.Title {
  font-size: 1.6rem;
}
.Desc {
  font-size: 1.3rem;
  color: #9a9a9a;
}
