.Stories {
  display: flex;
  flex-direction: column;
  background-color: #f6f6ef;
}
.StoryPageNavigation{
  display: flex;
  margin:1rem;
}
.StoryPageNavigation>div{
  margin:0 1rem;
}
.StoryPageNavigation>div:hover{
  color:#9a9a9a;
  text-decoration: underline;
  cursor: pointer;
}