.Stories {
  display: flex;
  flex-direction: column;
  background-color: #f6f6ef;
}
.StoryPageNavigation {
  display: flex;
}
.StoryPageNavigation > div {
  margin: 1rem 2rem;
}
.StoryPageNavigation > div:hover {
  color: #9a9a9a;
  text-decoration: underline;
  cursor: pointer;
}
