.Header {
  background-color: #ff6600;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.Logo {
  height: 2rem;
  min-width: 2rem;
  display: inline-block;
  border: 1px solid white;
  overflow: hidden;
}
.Logo img {
  height: 100%;
}
.HeaderComp {
  display: flex;
  align-items: center;
  margin-left: 0.4rem;
}
.Title {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.Nav {
  display: flex;
  font-size: 1.4rem;
}
.Nav > a {
  border-left: 1px solid black;
  margin-left: 0.8rem;
  padding-left: 0.8rem;
  color: black;
  text-decoration: none;
}
.Nav > a:first-child {
  border-left: 0 !important ;
}

@media screen and (max-width: 40em) {
  .HeaderComp {
    flex-direction: column;
    align-items: flex-start;
  }
  .Nav > a:first-child {
    margin-left: 0rem;
    padding-left: 0rem;
  }
  .Logo {
    height: 2.4rem;
    min-width: 2.4rem;
  }
}
